<div class="main-content">
    <h1>Üdvözöllek a fake-neptun oldalon</h1>
    <div>
        <table>
            <th colspan="2">Tanulmányi osztály</th>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    ttikto&#64;sci.u-szeged.hu
                </td>
            </tr>
            <tr>
                <td>
                    Tel.:
                </td>
                <td>
                    (62)54-4507
                </td>
            </tr>
            <tr>
                <td>
                    Cím:
                </td>
                <td>
                    6720 Szeged, Aradi vértanúk tere 1. (6701 Szeged, Pf.428)
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <th colspan="2">SZTE TTIK HÖK</th>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    iroda&#64;sztettikhok.hu
                </td>
            </tr>
            <tr>
                <td>
                    Tel.:
                </td>
                <td>
                    (62) 343 007
                </td>
            </tr>
            <tr>
                <td>
                    Cím:
                </td>
                <td>
                    Tisza Lajos krt. 103., Szeged, Hungary, 6725
                </td>
            </tr>
        </table>
    </div>

</div>